@model DeviousCreation.CqrsIdentity.Web.Features.Account.PasswordReset.RequestPasswordResetModel
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Request New Password
        </p>
            
    </header>
    <div class="card-content">
        <form asp-antiforgery="true", asp-action="RequestPasswordReset" asp-controller="PasswordReset">
            <div class="field">
                <label class="label" asp-for="Credential"></label>
                <div class="control">
                    <input class="input" type="text"  asp-for="Credential" />
                    <span asp-validation-for="Credential"></span>
                </div>
            </div>
            
            <div>
                <a asp-controller="SignIn" asp-action="SignIn">Login</a>
                <button type="submit" class="is-pulled-right">Request</button>
            </div>
        </form>
    </div>
    
</div>
