@model DeviousCreation.CqrsIdentity.Web.Features.Account.PasswordReset.ResetPasswordModel
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Reset Password
        </p>

    </header>
    <div class="card-content">
        <form asp-antiforgery="true" , asp-action="RequestPasswordReset" asp-controller="PasswordReset">
            <div class="field">
                <label class="label" asp-for="NewPassword"></label>
                <div class="control">
                    <input class="input" type="text" asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <input type="hidden" asp-for="Token"/>
            <div>
                <button type="submit" class="is-pulled-right">Reset</button>
            </div>
        </form>
    </div>

</div>
