@model DeviousCreation.CqrsIdentity.Web.Features.Account.SignIn.SignInModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Welcome
            </p>
            
        </header>
        <div class="card-content">
            <form asp-antiforgery="true", asp-action="SignIn" asp-controller="SignIn">
                <div class="field">
                    <label class="label" asp-for="Credential"></label>
                    <div class="control">
                        <input class="input" type="text"  asp-for="Credential" />
                        <span asp-validation-for="Credential"></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label" asp-for="Password"></label>
                    <div class="control">
                        <input class="input" type="password" asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div>
                    <a asp-controller="PasswordReset" asp-action="RequestPasswordReset">Forgotten Password?</a>
                    <button type="submit" class="is-pulled-right">Sign In</button>
                </div>
            </form>
        </div>
        <footer class="card-footer">
            <a asp-controller="Registration" asp-action="Register">Register</a>
        </footer>
    </div>
