@page
@model DeviousCreation.CqrsIdentity.Web.Pages.FirstRun
@{
}

    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(https://picsum.photos/1920/1080);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" asp-page="Register" method="post">
                    <a href="#" class="text-center d-block"><img src="~/myci-logo-100.png" alt="Home" /></a>
                    <h3 class="p-2 rounded-title mt-4 mb-0">Set up</h3>
                    <small>Complete the following to set up the first user.</small>
                    @if (Model.DataSubmitted)
                    {
                        <div class="mt-10">
                            <p>Thanks. You will be shortly receiving an email with the next steps on finish creating your account.</p>
                        </div>
                    }
                    else
                    {


                        <div class="form-group mt-3">
                            <div class="col-xs-12">
                                <input class="form-control" asp-for="PageModel.FirstName" type="text" placeholder="First Name">
                                <span asp-validation-for="PageModel.FirstName"></span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div class="col-xs-12">
                                <input class="form-control" asp-for="PageModel.LastName" type="text" placeholder="Last Name">
                                <span asp-validation-for="PageModel.FirstName"></span>
                            </div>
                        </div>
                        
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" asp-for="PageModel.Username" type="text" placeholder="Username">
                                    <span asp-validation-for="PageModel.FirstName"></span>
                                </div>
                            </div>
                        
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" asp-for="PageModel.EmailAddress" type="email" placeholder="Email">
                                <span asp-validation-for="PageModel.FirstName"></span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" asp-for="PageModel.Password" type="password" placeholder="Password">
                                <span asp-validation-for="PageModel.Password"></span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" asp-for="PageModel.PasswordConfirmation" type="password" placeholder="Password Confirmation">
                                <span asp-validation-for="PageModel.PasswordConfirmation"></span>
                            </div>
                        </div>
                        <div class="form-group text-center mt-3">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Set up</button>
                            </div>
                        </div>
                    }
                    
                </form>
            </div>
        </div>
    </section>