@page
@model DeviousCreation.CqrsIdentity.Web.Pages.IndexModel
@{}
@section styles
{
    <style>
        #mainNav {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            background-color: #fff;
            transition: background-color 0.2s ease;
        }

        #mainNav .navbar-brand {
            font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-weight: 700;
            color: #212529;
        }

        #mainNav .navbar-nav .nav-item .nav-link {
            color: #6c757d;
            font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-weight: 700;
            font-size: 0.9rem;
            padding: 0.75rem 0;
        }

        #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
            color: #f4623a;
        }

        #mainNav .navbar-nav .nav-item .nav-link.active {
            color: #f4623a !important;
        }

        @@media (min-width: 992px) {
        #mainNav {
            box-shadow: none;
            background-color: transparent;
        }
        #mainNav .navbar-brand {
            color: rgba(255, 255, 255, 0.7);
        }
        #mainNav .navbar-brand:hover {
            color: #fff;
        }
        #mainNav .navbar-nav .nav-item .nav-link {
            color: rgba(255, 255, 255, 0.7);
            padding: 0 1rem;
        }
        #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #fff;
        }
        #mainNav .navbar-nav .nav-item:last-child .nav-link {
            padding-right: 0;
        }
        #mainNav.navbar-scrolled {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            background-color: #fff;
        }
        #mainNav.navbar-scrolled .navbar-brand {
            color: #212529;
        }
        #mainNav.navbar-scrolled .navbar-brand:hover {
            color: #f4623a;
        }
        #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
            color: #212529;
        }
        #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
            color: #f4623a;
        }
        }
        header.masthead {
            padding-top: 10rem;
            padding-bottom: calc(10rem - 72px);
            background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/bg-masthead.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
        }

        header.masthead h1 {
            font-size: 2.25rem;
        }

        @@media (min-width: 992px) {
        header.masthead {
            height: 100vh;
            min-height: 40rem;
            padding-top: 72px;
            padding-bottom: 0;
        }
        header.masthead p {
            font-size: 1.15rem;
        }
        header.masthead h1 {
            font-size: 3rem;
        }
        }

        @@media (min-width: 1200px) {
        header.masthead h1 {
            font-size: 3.5rem;
        }
        }
        #portfolio .container-fluid {
            max-width: 1920px;
        }

        #portfolio .container-fluid .portfolio-box {
            position: relative;
            display: block;
        }

        #portfolio .container-fluid .portfolio-box .portfolio-box-caption {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            opacity: 0;
            color: #fff;
            background: rgba(244, 98, 58, 0.9);
            transition: opacity 0.25s ease;
            text-align: center;
        }

        #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
            font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 0.85rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
            font-size: 1.2rem;
        }

        #portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
            opacity: 1;
        }
    </style>
}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Your Favorite Source of Free Bootstrap Themes</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
</footer>