@import '../Fonts/css/myci.css'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@import '../../node_modules/metismenu/src/metisMenu.css'


body

.form-material
    .has-error
        color:#dc3545
        .form-control
            background-image: linear-gradient(#dc3545, #dc3545), linear-gradient(#d9d9d9, #d9d9d9)
        span[data-valmsg-for]
            width: 100%
            margin-top: 0.25rem
            font-size: 80%

.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before
	content: "\e806"
	font-family: "myci"
header.topbar
    position: fixed
    width: 100%


.contact-box .contact-widget > button
    padding: 15px 10px
.contact-box .contact-widget > button .user-img 
    margin-bottom: 0px !important
button .mail-contnet 
	display: inline-block
	width: 75%
    vertical-align: middle